*.exe
.vscode/

Dear NAME,


My name is Vishal Kumar, and I am a final-year BTech undergraduate from Noida Uttar Pradesh, India. I am reaching out to you to inquire about potential internship opportunities within COMPANY_NAME.

Throughout my academic journey, I have gained valuable experience as a tech consultant, working on various web development projects for clients. Additionally, I have completed internships at reputable companies such as Permissionless, Gumlet, and WeframeTech, where I developed my skills in software development. I am now seeking a 6-month internship opportunity in COMPANY_NAME to further enhance my skills and gain industry experience.
    
I noticed a job opening on the COMPANY_NAME career page, Job ID JOB_ID (JD_LINK), for a POSITION_NAME position, which I believe aligns with my skills and experience.

Please find my resume link (LINK_HERE) and GitHub link (LINK_HERE) for your review.
I would be grateful if you could refer me to the hiring manager or provide any relevant information about the opening.

Thank you for considering my request. I look forward to the possibility of contributing to COMPANY_NAME and being a part of the team. If there is any additional information or documentation required, please let me know.

Best regards,
Vishal Kumar